<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Redirect all routes to index.html -->
    <rewrite>
      <rules>
        <!-- Rule for React Router: If the request is not for a file (e.g., .html, .js, .css, etc.) -->
        <rule name="React Router" stopProcessing="true">
          <match url="^(?!.*\.(js|css|jpg|jpeg|gif|png|html|svg|json|map)$).*" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <!-- Serve static files (images, CSS, JS) -->
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Enable compression for assets -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>
